{
  "bracketSpacing": false,
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": [".babelrc", ".postcssrc", ".posthtmlrc", ".prettierrc"],
      "options": {"parser": "json"}
    }
  ]
}
